<!DOCTYPE html>
<html>
  <head>
    <title>Secret</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'SECRET', '#', class: 'navbar-brand' %>

        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', root_path, class: 'nav-link' %></li>
            <% if !logged_in? %>
              <li><%= link_to 'Log in', login_path, class: 'nav-link' %></li>
            <% else %>
              <li><%= link_to 'Log out', logout_path, class: 'nav-link',
                  method: :delete %></li>
              <li><%= link_to 'Reveal', reveal_path, class: 'nav-link' %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
         <% flash.each do |type, message| %>
           <div class="alert alert-<%= type %>"><%= message %>
           </div>
         <% end %>


    <%= yield %>

  </body>
</html>
